body {
    margin: 0;
    color: white;
    background: black;
    font-family: sans-serif;
    overflow: hidden;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media screen and (min-width: 1025px) {
    .conteneur {
        max-width: 30%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.conteneur {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    perspective: initial;
}

.film {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.film img {
    width: max-content;
    height: 100%;
    /*-o-object-fit: cover;*/
    /*object-fit: cover;*/
}

.leading-tight {
    line-height: 1.25;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.border-slate-200 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}

.rounded-sm {
    border-radius: 4px;
    cursor: pointer;
}
.inline-block {
    margin-top: 1rem;
    display: inline-block;
    background-color: white;
}